<div class="col-xs-8 col-xs-offset-2">
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="carName">
    <br>
    <input type="text" class="form-control" [(ngModel)]="carColor">
  </div>
  <hr>
  <button class="btn btn-primary" (click)="loadCars()">Загрузить машины</button>
  <button class="btn btn-success" (click)="addCar()">Добавуить машину</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
      <label class="badge badge-secondary" [ngStyle]="{background: car.color}">
        {{car.id}}
      </label>
      {{car.name}}
      <button class="btn btn-xs btn-info" (click)="setNewColor(car)">Изменить цвет</button>
    </li>
  </ul>
</div>