<div class="col-xs-8 col-xs-offset-2">
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="carName">
    <br>
    <input type="text" class="form-control" [(ngModel)]="carColor">
  </div>
  <hr>
  <button class="btn btn-primary" (click)="loadCars()">Загрузить машины</button>
  <button class="btn btn-success" (click)="addCar()">Добавуить машину</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
      <span class="badge">{{car.id}}</span>{{car.name}} ({{car.color}})
    </li>
  </ul>
</div>